.cover-holder{
    height: 200px;
    top: 53px;
    left: 0;
    position: relative;
    width: calc( 100% - 280px ) ;
    .cover{
        height: 100%;
        background-color: #eee;
    }
    .img{
        position: absolute;
        bottom: 15px;
        left: 20px;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        background-color: #fff;
    }

}