:root {
    font-size: 16px;
    --bg-color: black;
    --font-color: white;
    --large-font: 2rem;
    --medium-font:1.5rem;
    --small-font:1rem;
    --tiny-font:0.7rem;
}


@media(max-width:768px){
    :root {
        font-size: 14px;
    }
}

*{
    margin:0;
    box-sizing: border-box;
}

body{
    background: var(--bg-color);
}

img{
    max-width: 100%;
}

a{
    text-decoration: unset;
    color: unset;
}